* {
    box-sizing :border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    }

body
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin :0;
    display :flex;
    flex-direction :column;
    min-height:100 vh;
    text-align:center;
    justify-content :space-between;

}

header {
    display :flex;
    flex :0 auto;
    flex-wrap :wrap;
    justify-content :space-between;
    flex-direction: row;


}

.timer {
    height :240px;
    padding :10px;

}
main {
    display:flex;
    flex:wrap;
    justify-content:space-around, center;
    text-align: center;
    flex-direction :column;

}

.answers {
 
display: flex;
max-width: 400px;
justify-content : space-around;
text-align: center;
flex-direction :column;
}


button {
    background:  blue;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 300px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
    min-width:200x;

  }

   .quizQuestions {
    display:none;
  } 

  #buttonOptions {
    display:flex;
    flex-direction:column;
    gap : 80px;
    
  }

  ul{
    list-style: none;
  }

 